<div class="container">
    <div class="row">
        <div class="col-md-12 text-center mt-3">
            <h2>Weather APP</h2>
        </div>
        <div class="offset-md-1 col-md-3 mt-3">
            <div class="input-group ">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Latitude</span>
                </div>
                <input type="text" class="form-control" placeholder="Latitude" aria-label="Latitude"
                    aria-describedby="basic-addon1" [(ngModel)]="latitude">
            </div>
        </div>
        <div class="offset-md-1 col-md-3 mt-3">
            <div class="input-group ">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Longitude</span>
                </div>
                <input type="text" class="form-control" placeholder="Longitude" aria-label="Longitude"
                    aria-describedby="basic-addon1" [(ngModel)]="longitude">
            </div>
        </div>
        <div class="offset-md-1 col-md-3 mt-3">
            <ng-multiselect-dropdown [placeholder]="'Seleccione servicio'" [data]="dropdownList"
                [(ngModel)]="selectedItems" [settings]="dropdownSettings">
            </ng-multiselect-dropdown>
        </div>

        <div class="offset-md-4 col-md-4 text-center mt-3">
            <button type="button" class="btn btn-primary" (click)="buscar()" [disabled]="!latitude || !longitude || selectedItems.length == 0">Buscar</button>
        </div>
        <div class="col-md-12 text-center">
            <app-weather *ngIf="listWeather.Status == null" [listWeather]="listWeather"></app-weather>
            <p class="mt-4" *ngIf="listWeather.Status != null">{{listWeather.Message}}</p>
        </div>
    </div>
</div>